# pnpm v11 supply-chain security policy.
# Set minimum-release-age to 0 to allow all packages regardless of publish date.
# This is safe for us because we pin dependencies in the lockfile.
minimum-release-age=0
